<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
                <a class="navbar-brand" href="#">Adis' Twitter App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>                                          
                    </ul>                
                </div>
        </div>            
    </nav>
</header>
<div class="container">
    <div class="search-tweets">
       <div class="input-group mb-3">
            <input type="text" class="form-control search-bar" placeholder="Search tweets" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="search">Search</button>
            </div>
        </div>        
        
    </div>
    <div class="tweets">
        <div class="card tweet">
            <div class="card-body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut error ullam adipisci facere magni nisi totam architecto voluptatibus unde animi iste placeat quisquam fugiat, mollitia illum eos id! Sequi, pariatur.
            </div>
        </div>
        

        <div class="card tweet">
            <div class="card-body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut error ullam adipisci facere magni nisi totam architecto voluptatibus unde animi iste placeat quisquam fugiat, mollitia illum eos id! Sequi, pariatur.
            </div>
        </div>

        
    </div>
</div>


